<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action"/login" method="POST">
   
  
    
    <input type="email" name="email">
   
    <input type="password" name="password">
    
  

  
   
   
   
    <input type="submit" name="submit" value="submit">
    <a href="/logout">logout</a>

    </form>
</body>
</html>