<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action"/register" method="POST">
   <input type="text" name="firstname">
    <input type="text" name="lastname">
    
    <input type="email" name="email">
    <input type="gender" name="gender">
    <input type="number" name="phone"> 
    <input type="age" name="age">
    <input type="age" name="password">
    <input type="age" name="cpassword">


  
   
   
   
    <input type="submit" name="submit" value="submit">

    </form>
</body>
</html>